.website {
  text-decoration: none;
  color: goldenrod;
  font-family: "GlacialIndifferenceRegular";
}

.footer {
  padding: 20px;
  padding-top: 100px;
}

.instagram {
  size: 30px;
  text-decoration: none;
  color: goldenrod;
  font-family: "GlacialIndifferenceRegular";
  padding-left: 66rem;
}

.about {
  text-decoration: none;
  color: goldenrod;
  font-family: "GlacialIndifferenceRegular";
}

.gallery {
  text-decoration: none;
  color: goldenrod;
  font-family: "GlacialIndifferenceRegular";
}

.contact {
  text-decoration: none;
  color: goldenrod;
  font-family: "GlacialIndifferenceRegular";
}

.image {
  display: flex;
  flex-direction: column;

  color: goldenrod;
  font-family: "GlacialIndifferenceRegular";
  font-size: 35px;
}

.imagewords {
  justify-content: center;
  align-items: center;
}

.picRow {
  margin-bottom: 85px;
}

.logoImage {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .instagram {
    size: 30px;
    padding-left: 11rem;
  }
  .footer {
    padding-top: 30px;
    padding-left: 30px;
  }
  .logoImage {
    padding-left: 0rem;
  }
  .phoneView {
    padding-bottom: 10px;
  }
  .about {
    font-size: 30px;
  }
  .gallery {
    font-size: 30px;
  }
  .contact {
    font-size: 30px;
  }
}
