.word {
  font-size: 40px;
  font-family: "GlacialIndifferenceRegular";
  color: goldenrod;
  white-space: pre-wrap;
  text-align: center;
}

.about-title {
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  white-space: pre-wrap;
  text-align: center;
}

.about-second {
  padding: 100px 90px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff7f4;
}

.contact_button {
  margin: 0;
  justify-content: center;
}

.desktopView {
  display: block;
  background-color: #fff7f4;
}
.tabletView {
  display: none;
}

.mobileView {
  display: none;
}

.contact_page {
  background-color: #fff7f4;
  color: goldenrod;
  font-size: 30px;
  font-family: "GlacialIndifferenceRegular";
  background-position: 0% 30%;
}

.contact_page_form {
  background-color: #fff7f4;
  color: goldenrod;
  font-size: 30px;
  font-family: "GlacialIndifferenceRegular";
  background-position: 0% 30%;
}

.tabletView {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .mobileView {
    display: none;
  }
  .desktopView {
    display: block;
  }
  .tabletView {
    display: none;
    background-color: #fff7f4;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  .image {
    height: 375px;
    width: 375px;
  }
  .carousel {
    height: 450px;
  }
  .mobileView {
    display: none;
  }
  .desktopView {
    display: none;
  }
  .tabletView {
    display: block;
    background-color: #fff7f4;
  }
  .word {
    font-size: 19px;
  }
}

@media only screen and (max-width: 768px) {
  .mobileView {
    display: block;
  }
  .desktopView {
    display: none;
  }
  .about-title {
    font-size: large;
    padding-top: 24px;
  }
  .third {
    padding: 5px;
    padding-top: 25px;
  }

  .word {
    font-size: 13px;
  }
  .about-second {
    padding: 10px 13px;
  }
  .fourth {
    padding: 30px;
  }
  .home {
    height: 250px;
  }
  .second {
    padding: 60px 20px;
  }
}
