.home {
  height: 800px;
  background-image: url(./images/IMG_7677.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.second {
  padding: 60px 90px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff7f4;
}

.third {
  padding: 92px;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 0.289655s;
}

.fourth {
  padding: 92px;
  padding-left: 250px;
}

.firstpic {
  padding: 0px;
}

.secondpic {
  padding: 0px;
}
.word {
  font-size: 40px;
  font-family: "GlacialIndifferenceRegular";
  color: goldenrod;
}

.about-home {
  height: 1000px;
  background-image: url(./images/IMG_7989.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title {
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 84px;
}

.about-second {
  padding: 60px 90px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff7f4;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}
.waitingDes {
  padding: 100px 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff7f4;
  height: 100vh;
  width: 100vw;
  font-size: 30px;
  font-family: "GlacialIndifferenceRegular";
  color: goldenrod;
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 325px;
}

@media only screen and (max-width: 768px) {
  .mobileView {
    display: block;
  }
  .desktopView {
    display: none;
  }
  .about-title {
    font-size: small;
    padding-top: 24px;
  }
  .third {
    padding: 12px;
  }

  .word {
    font-size: 10px;
  }
  .about-second {
    padding: 10px 20px;
  }
  .fourth {
    padding: 30px;
  }
  .home {
    height: 250px;
  }
  .second {
    padding: 60px 20px;
  }
  .waitingMob {
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff7f4;
    height: 100vh;
    font-size: 30px;
    font-family: "GlacialIndifferenceRegular";
    color: goldenrod;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 3px;
    background-position-y: 50px;
  }
}
